################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/**/obj/
/**/bin/
/**/out
/packages/
*.user
/**/node_modules
/**/PublishProfiles/
/src/Rocket.Web/rocket.log
